<app-thr-nav></app-thr-nav>

<app-table-filter
    (pageChange)="onPageChange($event)"
    (itemsPerPageChange)="onItemsPerPageChange($event)"
    [totalItems]="ticketCount"
    [searchField]="false"
>
    <div class="overflow-x-auto">
        <table class="w-full p-6 text-xs text-left whitespace-nowrap bg-gray-800 text-white">

            <thead>
                <tr class="dark:bg-gray-700">
                    <th class="p-3">No</th>
                    <th class="p-3">Movie Name</th>
                    <th class="p-3">Show Time</th>
                    <th class="p-3">Screen</th>
                    <th class="p-3">User Name</th>
                    <th class="p-3">Ticket Price</th>
                    <th class="p-3">Total Price</th>
                    <th class="p-3">Cancel</th>
                </tr>
            </thead>
            <tbody class="border-b dark:bg-gray-900 dark:border-gray-700">

                <tr *ngFor="let tkt of tickets; index as i">
                    <td class="px-3 font-medium dark:text-gray-400">{{ ((currPage -1) * itemsPerPage) + (i + 1) }}</td>
                    <td class="px-3 py-2">
                        <p>{{ tkt.movieId.title }}</p>
                    </td>
                    <td class="px-3 py-2">
                        <span>{{ tkt.startTime }}</span>
                    </td>
                    <td class="px-3 py-2">
                        <span>{{ tkt.screenId.name }}</span>
                    </td>
                    <td class="px-3 py-2">
                        <p>{{ tkt.userId.name }}</p>
                    </td>
                    <td class="px-3 py-2">
                        <p>{{ tkt.singlePrice }}</p>
                        <p class="dark:text-gray-400">{{ tkt.seatCount }}</p>
                    </td>
                    <td class="px-3 py-2">
                        <p>{{ tkt.totalPrice }}</p>
                    </td>
                    <td class="px-3 py-2">
                        <div *ngIf="tkt.isCancelled">
                            <p class="text-red-600">Cancelled</p>
                        </div>
                        <button *ngIf="!tkt.isCancelled" type="button" title="Open details"
                            class="px-2 rounded-full dark:text-black bg-red-500 focus:dark:bg-red-600"
                            (click)="cancelTicket(tkt._id)">
                            Cancel
                        </button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</app-table-filter>