<div class="flex flex-wrap w-screen">
  <section class="relative mx-auto">
    <!-- navbar -->
    <nav class="flex justify-between bg-black text-amber-300 w-screen">
      <div class="px-5 xl:px-12 py-6 flex w-full items-center">
        <a class="" routerLink="/user/home">
          <img class="h-9" src="../../../../assets/logo.png" alt="CineSnap Logo" />
          <!-- Logo Here. -->
        </a>
        <!-- Nav Links -->
        <ul class="hidden sm:flex px-4 mx-auto font-heading space-x-12">
          <li>
            <a class="hover:text-amber-500" routerLink="/user/home">Home</a>
          </li>
          <li>
            <a class="hover:text-amber-500" routerLink="/user/movies">Movies</a>
          </li>
          <li>
            <a class="hover:text-amber-500" routerLink="/user/theaters">Theaters</a>
          </li>
        </ul>

        <div class="hidden sm:flex items-center space-x-5">

          <div *ngIf="userDetails$ | async as user; else notLoggedIn" class="flex items-center" routerLink="/user/profile">
            <div *ngIf="user.profilePic">
              <img [src]="imageFolderPath + user.profilePic" [alt]="user.name + ' Profile Picture'" class="rounded-full h-8 w-8 border-2 border-amber-300 hover:border-amber-500">
            </div>
            <div *ngIf="!user.profilePic" class="rounded-full h-8 w-8 border-2 border-amber-300 hover:border-amber-500 bg-black text-amber-300 hover:text-amber-500 text-center align-middle">
              <span class="flex items-center justify-center h-full">
                {{ user.name | slice:0:1 | uppercase }}
              </span>
            </div>
          </div>          
          
          <ng-template #notLoggedIn >
            <a  class="flex items-center hover:text-amber-500" routerLink="/user/profile">
              <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6 hover:text-amber-500" fill="none" viewBox="0 0 24 24"
                stroke="currentColor">
                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                  d="M5.121 17.804A13.937 13.937 0 0112 16c2.5 0 4.847.655 6.879 1.804M15 10a3 3 0 11-6 0 3 3 0 016 0zm6 2a9 9 0 11-18 0 9 9 0 0118 0z" />
              </svg>
            </a>
          </ng-template>
        </div>
      </div>
      
      <!-- Responsive navbar -->
      <div class="flex justify-center items-center sm:hidden">
        <div class="items-center space-x-5">

          <div *ngIf="userDetails$ | async as user; else notLoggedIn" class="flex items-center self-center" routerLink="/user/profile">
            <div *ngIf="user.profilePic">
              <img [src]="imageFolderPath + user.profilePic" [alt]="user.name + ' Profile Picture'" class="rounded-full h-8 w-8 border-2 border-amber-300 hover:border-amber-500">
            </div>
            <div *ngIf="!user.profilePic" class="rounded-full h-8 w-8 border-2 border-amber-300 hover:border-amber-500 bg-black text-amber-300 hover:text-amber-500 text-center align-middle">
              <span class="flex items-center justify-center h-full">
                {{ user.name | slice:0:1 | uppercase }}
              </span>
            </div>
          </div>          
          
          <ng-template #notLoggedIn >
            <a  class="flex items-center hover:text-amber-500 self-center" routerLink="/user/profile">
              <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6 hover:text-amber-500" fill="none" viewBox="0 0 24 24"
                stroke="currentColor">
                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                  d="M5.121 17.804A13.937 13.937 0 0112 16c2.5 0 4.847.655 6.879 1.804M15 10a3 3 0 11-6 0 3 3 0 016 0zm6 2a9 9 0 11-18 0 9 9 0 0118 0z" />
              </svg>
            </a>
          </ng-template>
        </div>

        <a class="navbar-burger self-center mr-12 cursor-pointer" (click)="openOffcanvas()">
          <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6 hover:text-amber-500" fill="none" viewBox="0 0 24 24"
            stroke="currentColor">
            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 6h16M4 12h16M4 18h16" />
          </svg>
        </a>
      </div>
    </nav>
  </section>
</div>

