
<h1 mat-dialog-title>
    Please Crop Your Photo
</h1>
<div mat-dialog-content>
    <image-cropper
    [imageFile]="data.image"
    [maintainAspectRatio]="true"
    [aspectRatio]="1"
    [resizeToHeight]="400"
    [resizeToWidth]="400"
    (imageCropped)="imageCropped($event)"
    >

    </image-cropper>
</div>
<div mat-dialog-actions>
    <button mat-raised-button [mat-dialog-close]="false" class="w-1/3 block rounded-full bg-amber-400 hover:bg-amber-600 hover:shadow-lg font-semibold text-gray-800 px-6 py-2">Cancel</button>  <!-- [mat-dialog-close]="false" -->
    <button [mat-dialog-close]="result()" class="w-1/3 block rounded-full bg-amber-400 hover:bg-amber-600 hover:shadow-lg font-semibold text-gray-800 px-6 py-2">Done</button>  <!-- [mat-dialog-close]="result()" -->
</div>