<app-user-nav></app-user-nav>

<div *ngIf="bannerMovies?.length" class="mx-auto px-4 mt-8">
    <div id="" class="relative flex gap-2 justify-center overflow-hidden rounded-lg">

        <div class="flex flex-col justify-center w-1/12">
            <button *ngIf="active > 0" (click)="setActive(active - 1)"
                class="p-4 bg-gray-200 rounded-full hover:bg-gray-300 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500">
                <- </button>
        </div>

        <div class="relative w-8/12 overflow-hidden rounded-lg">
            <div class="relative" style="height: 350px;">
                <div class="carousel-item absolute inset-0 w-full h-full transform transition-transform duration-300 ease-in-out"
                    *ngFor="let movie of bannerMovies; let i = index" [class.active]="active === i">
                    <img src="https://image.tmdb.org/t/p/original/{{ movie.backdrop_path }}"
                        class="w-full h-full object-cover" [alt]="movie.title + 'Poster'">
                    <div class="absolute inset-0 bg-gradient-to-b from-transparent to-black bg-opacity-50 flex items-center justify-center"
                        style="height: 100%;">
                        <h2 class="text-white text-3xl font-bold tracking-wider">{{ movie.title }}</h2>
                    </div>
                </div>
            </div>
            <div class="absolute bottom-4 left-1/2 transform -translate-x-1/2">
                <div class="flex items-center justify-center">
                    <button *ngFor="let movie of bannerMovies; let i = index" (click)="setActive(i)"
                        class="rounded-full w-4 h-4 bg-gray-200 mx-2" [class.bg-indigo-500]="active === i"></button>
                </div>
            </div>
        </div>

        <div class="flex flex-col justify-center w-1/12">
            <button *ngIf="active < bannerMovies.length - 1" (click)="setActive(active + 1)"
                class="p-4 bg-gray-200 rounded-full cursor-pointer float-right hover:bg-gray-300 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500">
                ->
            </button>
        </div>

    </div>
</div>

<hr class="mt-4">

<app-scroll-h-tabs [labels]="genres" [labelTitle]="'Genres'" (labelClick)="onClickGenre($event)"></app-scroll-h-tabs>

<hr>

<app-scroll-h-tabs [labels]="languages" [labelTitle]="'Languages'" (labelClick)="onClickLanguage($event)"></app-scroll-h-tabs>

<hr>

<app-scroll-h-tabs [labels]="theaterNames" [labelTitle]="'Nearby Theaters'" (labelClick)="onClickTheaterName($event)"></app-scroll-h-tabs>

<hr>