<!-- <div class="max-w-2xl mx-auto shadow-xl rounded-lg text-gray-900 border-2 border-gray-300 bg-white">
    <div class="p-4 md:p-8">
        <h2 class="text-2xl font-semibold text-gray-800 mb-4">{{ modalTitle }}</h2>

        <form [formGroup]="form" (submit)="onSubmit()">
            <ng-container *ngFor="let field of fields" class="flex flex-col">
                <div class="mb-3">
                    <label [for]="field.name" class="font-semibold text-gray-700 my-1">{{ field.label }}:</label>
                    <input [id]="field.name" [formControlName]="field.name" [type]="field.type"
                        class="border-b border-gray-500 focus:outline-none mt-1 w-full" />

                </div>
            </ng-container>

            <hr class="border-t mx-0 mt-2">

            <div class="flex justify-around items-center p-4 space-x-4">
                <button (click)="onCancel()"
                    class="w-full md:w-1/3 block rounded-full bg-amber-400 hover:bg-amber-600 hover:shadow-lg font-semibold text-gray-800 px-6 py-2">Cancel</button>
                <button type="submit"
                    class="w-full md:w-1/3 block rounded-full bg-amber-400 hover:bg-amber-600 hover:shadow-lg font-semibold text-gray-800 px-6 py-2">{{
                    submitBtn }}</button>
            </div>
        </form>
    </div>
</div> -->




<!-- <ng-container *ngComponentOutlet="field.validationComponent; injector: createInjector(field.validationDataFn())"></ng-container> -->