<div class="bg-gradient-to-br from-red-500 via-gray-700 to-gray-800 text-white h-screen flex flex-col items-center justify-center
  p-6 rounded-md shadow-lg">

  <!-- Rejected Message Heading with Design -->
  <h1 class="text-4xl font-bold mb-4">Approval Rejected</h1>

  <!-- Message -->
  <p class="text-lg mb-4 text-center text-gray-300 leading-7 font-medium">
    We're sorry, but your theater registration with CineSnap has been rejected by the admin.
  </p>

  <p class="text-lg mb-8 text-center text-gray-300 leading-7 font-medium">
    If you have questions or concerns, please contact our support team.
  </p>

  <!-- Button with Design -->
  <button class="bg-red-600 text-white px-6 py-3 rounded-md hover:bg-red-700
    focus:outline-none focus:ring focus:border-red-300 transition-all duration-300"
    (click)="contactSupport()">Contact Support</button>

</div>
