<app-admin-nav></app-admin-nav>
<app-admin-movies-search (search)="searchTmdbMovies($event)"></app-admin-movies-search>


<!-- Search Results  -->
<app-movie-row *ngIf="searchResultMovies.length"
  [tmdbIds]="tmdbIds"
  [searchResult]="true"
  [movies]="searchResultMovies"
  [language]="searchResultMovies[0].language"
  (exploreLangEvent)="exploreLanguage($event)"
  (addMovieEvent)="addMovie($event)"
  >
</app-movie-row>


<!-- Malyalam Movies Row  -->
<app-movie-row *ngIf="malayalamMovies.length"
  [tmdbIds]="tmdbIds"
  [movies]="malayalamMovies"
  [language]="malayalamMovies[0].language"
  (exploreLangEvent)="exploreLanguage($event)"
  (addMovieEvent)="addMovie($event)"
  >
</app-movie-row>


<!-- Tamil Movies Row  -->
<app-movie-row *ngIf="tamilMovies.length"
  [tmdbIds]="tmdbIds"
  [movies]="tamilMovies"
  [language]="tamilMovies[0].language"
  (exploreLangEvent)="exploreLanguage($event)"
  (addMovieEvent)="addMovie($event)"
  >
</app-movie-row>


<!-- Hindi Movies Row  -->
<app-movie-row *ngIf="hindiMovies.length"
  [tmdbIds]="tmdbIds"
  [movies]="hindiMovies"
  [language]="hindiMovies[0].language"
  (exploreLangEvent)="exploreLanguage($event)"
  (addMovieEvent)="addMovie($event)"
  >
</app-movie-row>


<!-- Telugu Movies Row  -->
<app-movie-row *ngIf="teluguMovies.length"
  [tmdbIds]="tmdbIds"
  [movies]="teluguMovies"
  [language]="teluguMovies[0].language"
  (exploreLangEvent)="exploreLanguage($event)"
  (addMovieEvent)="addMovie($event)"
  >
</app-movie-row>

<!-- Kannada Movies Row  -->
<app-movie-row *ngIf="kannadaMovies.length"
  [tmdbIds]="tmdbIds"
  [movies]="kannadaMovies"
  [language]="kannadaMovies[0].language"
  (exploreLangEvent)="exploreLanguage($event)"
  (addMovieEvent)="addMovie($event)"
  >
</app-movie-row>

<!-- English Movies Row  -->
<app-movie-row *ngIf="englishMovies.length"
  [tmdbIds]="tmdbIds"
  [movies]="englishMovies"
  [language]="englishMovies[0].language"
  (exploreLangEvent)="exploreLanguage($event)"
  (addMovieEvent)="addMovie($event)"
  >
</app-movie-row>
