<div class="flex flex-wrap w-screen">
    <section class="relative mx-auto">
      <!-- navbar -->
      <nav class="flex justify-between bg-black text-amber-300 w-screen">
        <div class="px-5 xl:px-12 py-6 flex w-full items-center">
          <a class="" routerLink="/admin/home">
            <img class="h-9" src="../../../../assets/logo.png" alt="CineSnap Logo" />
            <!-- Logo Here. -->
          </a>
          <!-- Nav Links -->
          <ul class="hidden md:flex px-4 mx-auto font-heading space-x-12">
            <li>
              <a class="hover:text-amber-500" routerLink="/admin/home">Dashboard</a>
            </li>
            <li>
              <a class="hover:text-amber-500" routerLink="/admin/theaters">Theaters</a>
            </li>
            <li>
              <a class="hover:text-amber-500" routerLink="/admin/tickets">Tickets</a>
            </li>
            <li>
              <a class="hover:text-amber-500" routerLink="/admin/users">Users</a>
            </li>
            <!-- <li>
                <a class="hover:text-amber-500" routerLink="/admin/messages">Messages</a>
            </li> -->
            <li>
                <a class="hover:text-amber-500" routerLink="/admin/movies">Movies</a>
            </li>
          </ul>
          <!-- Header Icons -->
          <div class="hidden md:flex items-center space-x-5">
            <a class="flex items-center hover:text-amber-500"  (click)="onLogout()">
              Logout
            </a>
          </div>
        </div>
        <!-- Responsive navbar -->
        <div class="flex items-end md:hidden">
          <a class="hover:text-amber-500 mx-2 self-center" (click)="onLogout()">
             Logout
          </a>
          <a class="navbar-burger self-center mr-12 cursor-pointer" (click)="toggleSideBar()">
            <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6 hover:text-amber-500" fill="none" viewBox="0 0 24 24"
              stroke="currentColor">
              <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 6h16M4 12h16M4 18h16" />
            </svg>
          </a>
        </div>
      </nav>
    </section>
  </div>
  
  <div>
    <!-- component -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css" rel="stylesheet" />
  
    <!--dark mode - wide side navigation-->
    <div *ngIf="showSidebar"
      class="w-60 py-4 px-2 text-amber-300 bg-black text-left rounded mr-3 capitalize font-medium shadow-lg md:hidden fixed right-0 top-24">
  
      <a routerLink="/admin/home" (click)="toggleSideBar()">
        <span class="cursor-pointer px-2 py-1 hover:bg-gray-800 hover:text-amber-500 rounded block mb-4">
          <i class="w-8 fas fa-stream p-2 rounded-full"></i>
          <span class="mx-2">Home</span>
        </span>
      </a>

      <a routerLink="/admin/theaters" (click)="toggleSideBar()">
        <span class="cursor-pointer px-2 py-1 hover:bg-gray-800 hover:text-amber-500 rounded block mb-4">
          <i class="w-8 fas fa-search p-2 bg-gray-800 rounded-full"></i>
          <span class="mx-2">Theaters</span>
        </span>
      </a>

      <a routerLink="/admin/users" (click)="toggleSideBar()">
        <span class="cursor-pointer px-2 py-1 hover:bg-gray-800 hover:text-amber-500 rounded block mb-4">
          <i class="w-8 fas fa-th p-2 bg-gray-800 rounded-full"></i>
          <span class="mx-2">Users</span>
        </span>
      </a>

      <!-- <a routerLink="/admin/messages" (click)="toggleSideBar()">
        <span class="cursor-pointer px-2 py-1 hover:bg-gray-800 hover:text-amber-500 rounded block mb-4">
          <i class="w-8 fas fa-th p-2 bg-gray-800 rounded-full"></i>
          <span class="mx-2">Messages</span>
        </span>
      </a> -->
  
      <a routerLink="/admin/movies" (click)="toggleSideBar()">
        <span class="cursor-pointer px-2 py-1 hover:bg-gray-800 hover:text-amber-500 rounded block mb-4">
          <i class="w-8 fas fa-stream p-2 rounded-full"></i>
          <span class="mx-2">Movies</span>
        </span>
      </a>
  

  
      <!-- <span class="cursor-pointer px-2 py-1 hover:bg-gray-800 hover:text-amber-500 rounded block mb-4">
              <a routerLink="/admin/">
                  <span class="w-8 mb-5 relative">
                      <i class="w-8 fas fa-user p-2 bg-gray-800 rounded-full"></i>
                      <span
                        class="absolute right-0 top-0 -mt-2 -mr-1 text-xs bg-yellow-500 text-black font-medium px-2 rounded-full">3</span>
                    </span>
                    <span class="mx-2">Notifications</span>
              </a>
        </span> -->
  
  
      <a (click)="onLogout()">
        <span class="cursor-pointer px-2 py-1 hover:bg-gray-800 hover:text-amber-500 rounded block mb-4">
          <i class="w-8 fas fa-calendar-alt p-2 bg-gray-800 rounded-full"></i>
          <span class="mx-2">Logout</span>
        </span>
      </a>
  
    </div>
  </div>