<app-user-nav></app-user-nav>

<div class="flex flex-col items-center mt-8 overflow-x-auto">
  <div *ngIf="diamond" class="mb-10">
    <h4>{{ diamond.name }}</h4>
    <div class="flex items-center gap-4">
      <div>
        <ng-container *ngFor="let row of diamondKeys">
          <div class="flex flex-nowrap items-center">
            <ng-container *ngFor="let seatCol of diamond.seats[row]; index as i">
              <div class="flex flex-col">
                <a *ngIf="seatCol.col !== 0 && !seatCol.isBooked" (click)="selectSeat(row, seatCol)">
                  <div class="seat p-3 text-center text-sm with-margin relative" appSeatStatus
                    [row]="row" [col]="seatCol" [holdedSeats]="holdedSeats"
                    [class.selected]="isSeatSelected(row, seatCol.col)">
                    {{ row + seatCol.col }}
                  </div>
                </a>
                <div *ngIf="seatCol.col !== 0 && seatCol.isBooked" class="seat booked p-3 text-center text-sm with-margin">
                  {{ row + seatCol.col }}
                </div>
                <div *ngIf="seatCol.col === 0" class="empty-space p-3 text-center text-sm with-margin"></div>
              </div>
            </ng-container>
          </div>
        </ng-container>
      </div>
    </div>
  </div>

  <div *ngIf="gold" class="mb-10">
    <h4>{{ gold.name }}</h4>
    <div class="flex items-center gap-4">
      <div>
        <ng-container *ngFor="let row of goldKeys">
          <div class="flex flex-nowrap items-center">
            <ng-container *ngFor="let seatCol of gold.seats[row]; index as i">
              <div class="flex flex-col">
                <a *ngIf="seatCol.col !== 0 && !seatCol.isBooked" (click)="selectSeat(row, seatCol)">
                  <div class="seat p-3 text-center text-sm with-margin relative" appSeatStatus
                    [row]="row" [col]="seatCol" [holdedSeats]="holdedSeats"
                    [class.selected]="isSeatSelected(row, seatCol.col)">
                    {{ row + seatCol.col }}
                  </div>
                </a>
                <div *ngIf="seatCol.col !== 0 && seatCol.isBooked" class="seat booked p-3 text-center text-sm with-margin relative">
                  {{ row + seatCol.col }}
                </div>
                <div *ngIf="seatCol.col === 0" class="empty-space p-3 text-center text-sm with-margin"></div>
              </div>
            </ng-container>
          </div>
        </ng-container>
      </div>
    </div>
  </div>

  <div *ngIf="silver" class="mb-32">
    <h4>{{ silver.name }}</h4>
    <div class="flex items-center gap-4">
      <div>
        <ng-container *ngFor="let row of silverKeys">
          <div class="flex flex-nowrap items-center">
            <ng-container *ngFor="let seatCol of silver.seats[row]; index as i">
              <div class="flex flex-col">
                <a *ngIf="seatCol.col !== 0 && !seatCol.isBooked" (click)="selectSeat(row, seatCol)">
                  <div class="seat p-3 text-center text-sm with-margin relative" appSeatStatus
                    [row]="row" [col]="seatCol" [holdedSeats]="holdedSeats"
                    [class.selected]="isSeatSelected(row, seatCol.col)">
                    {{ row + seatCol.col }}
                  </div>
                </a>
                <div *ngIf="seatCol.col !== 0 && seatCol.isBooked" class="seat booked p-3 text-center text-sm with-margin relative">
                  {{ row + seatCol.col }}
                </div>
                <div *ngIf="seatCol.col === 0" class="empty-space p-3 text-center text-sm with-margin"></div>
              </div>
            </ng-container>
          </div>
        </ng-container>
      </div>
    </div>
  </div>

  <div class="fixed flex py-4 w-full bottom-0">
    <img src="../../../../assets/screen-icon.svg" alt="Screen SVG" class="w-full h-12" />
    <div>
      <button *ngIf="selectedSeats.length" (click)="bookTicket()"
        class="btn items-end text-gray-900 m-4 justify-center bg-amber-500 hover:bg-amber-600">
        Book Tickets
      </button>
    </div>
  </div>
</div>