<app-admin-nav></app-admin-nav>

<app-table-filter
    (search)="onSearchTheaters($event)"
    (pageChange)="onPageChange($event)"
    (itemsPerPageChange)="onItemsPerPageChange($event)"
    [totalItems]="theaterCount"
>
    <div class="overflow-x-auto">
        <table class="w-full p-6 text-xs text-left whitespace-nowrap bg-gray-800 text-white">
            <thead>
                <tr class="dark:bg-gray-700">
                    <th class="p-3">No</th>
                    <th class="p-3">Name</th>
                    <!-- <th class="p-3">Screen Count</th> -->
                    <th class="p-3">Contact</th>
                    <th class="p-3">Wallet</th>
                    <th class="p-3">License Id</th>
                    <th class="p-3">Address</th>
                    <th class="p-3">Block / Approval</th>
                </tr>
            </thead>
            <tbody class="border-b dark:bg-gray-900 dark:border-gray-700">
                <tr *ngFor="let theater of theaters; index as i">
                    <td class="px-3 font-medium dark:text-gray-400">{{ ((currPage -1) * itemsPerPage) + (i + 1) }}</td>
                    <td class="px-3 py-2">
                        <p>{{ theater.name }}</p>
                    </td>
                    <!-- <td class="px-3 py-2">
                        <p>{{ theater.screenCount }}</p>
                    </td> -->
                    <td class="px-3 py-2">
                        <span>{{ theater.email }}</span>
                        <p class="dark:text-gray-400">{{ theater.mobile }}</p>
                    </td>
                    <td class="px-3 py-2">
                        <p>{{ theater.wallet }}</p>
                    </td>
                    <td class="px-3 py-2">
                        <p>{{ theater.liscenceId }}</p>
                    </td>
                    <td class="px-3 py-2">
                        <div *ngIf="theater.address">
                            <p>{{ theater.address.city }} {{ theater.address.state }}</p>
                            <p class="dark:text-gray-400"> {{ theater.address.country }}</p>
                        </div>
                        <div *ngIf="!theater.address">
                            <p class="dark:text-gray-400">N/A</p>
                        </div>
                    </td>
                    <td class="px-3 py-2">
                        <button *ngIf="theater.approvalStatus === 'Approved'; else notApproved" type="button"
                            title="Open details" class="px-2 rounded-full dark:text-black  focus:dark:bg-gray-700"
                            [ngClass]="theater.isBlocked ? 'bg-green-400 focus:dark:bg-green-600' : 'bg-red-500 focus:dark:bg-red-600'"
                            (click)="onBlock(theater._id, theater.isBlocked ?  'Unblock' : 'Block')"
                        >
                            {{ theater.isBlocked ? 'Unblock' : 'Block' }}
                        </button>
                        <ng-template #notApproved>
                            <div *ngIf="theater.approvalStatus === 'Pending'" class="flex">
                                <button type="button"
                                    class="px-2 rounded-full dark:text-black bg-green-400 focus:dark:bg-green-600 mx-1"
                                    (click)="onApprove(theater._id)">
                                    Approve
                                </button>
                                <button type="button"
                                    class="px-2 rounded-full dark:text-black bg-red-500 focus:dark:bg-red-600 mx-1"
                                    (click)="onReject(theater._id)">
                                    Reject
                                </button>
                            </div>
                            <div *ngIf="theater.approvalStatus === 'Rejected'" class="text-red-500">
                                <p>Rejected</p>
                            </div>
                        </ng-template>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</app-table-filter>
