<div *ngIf="isSubmitted && colControl && colControl.errors">
    <div *ngIf="colControl.errors['required']" style="color: red;">Columns are required</div>
    <div *ngIf="colControl.errors['pattern']" style="color: red;">Columns must be a positive number</div>
    <div *ngIf="colControl.errors['min']" style="color: red;">Columns must be at least {{ colControl.errors['min'].min }}</div>
    <div *ngIf="colControl.errors['max']" style="color: red;">Columns must be at most {{ colControl.errors['max'].max }}</div>
</div>