<app-user-nav></app-user-nav>
<p>user-theaters works!</p>
<div class="container mx-auto py-10">
    <h2 class="text-3xl font-bold">Cinema Halls Near You</h2>

    <div class="grid grid-cols-2 gap-5">
      <div class="flex flex-col gap-5">
        <div class="flex items-center gap-3">
          <img src="https://placehold.it/150x150" alt="Sample Theater 1">
          <div>
            <h3>Sample Theater 1</h3>
            <p>Near Something</p>
          </div>
        </div>
        <div class="flex justify-between gap-3">
          <a href="#" class="btn btn-primary">Go to Map</a>
          <a href="#" class="btn btn-secondary">View Movies</a>
        </div>
      </div>

      <div class="flex flex-col gap-5">
        <div class="flex items-center gap-3">
          <img src="https://placehold.it/150x150" alt="Sample Theater 2">
          <div>
            <h3>Sample Theater 2</h3>
            <p>Near Something</p>
          </div>
        </div>
        <div class="flex justify-between gap-3">
          <a href="#" class="btn btn-primary">Go to Map</a>
          <a href="#" class="btn btn-secondary">View Movies</a>
        </div>
      </div>

    
    </div>
  </div>    