<!-- not-found.component.html -->

<!-- Background Theme with Design -->
<div class="bg-gradient-to-br from-amber-500 via-gray-700 to-gray-800 text-white h-screen flex flex-col items-center justify-center
  p-6 rounded-md shadow-lg">

  <!-- Error Message Heading with Design -->
  <h1 class="text-4xl font-bold mb-4">Oops! Page Not Found</h1>

<!-- Message -->
<p class="text-lg mb-8 text-center text-gray-300 leading-7 font-medium">
  Looks like you've taken a detour into the unknown. This page seems to be as elusive as a hidden movie gem.
</p>

  <!-- Button with Design -->
  <button class="bg-amber-600 text-white px-6 py-3 rounded-md hover:bg-amber-700
    focus:outline-none focus:ring focus:border-amber-300 transition-all duration-300"
    (click)="goBack()">Go Back</button>

</div>

