/* theater-seating.component.css */
.seat {
  width: 30px;
  height: 30px;
  margin: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #ccc;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.seat:hover {
  background-color: #ddd;
}

.screen {
  background-color: #ffffff;
  color: #ffffff;
  padding: 10px;
  text-align: center;
  font-size: 18px;
  font-weight: bold;
}

.with-margin {
  margin-bottom: 15px; /* Adjust the margin as needed */
}

.row {
    white-space: nowrap;
    overflow-x: auto;
  }
  