<!-- <p>show-form-modal works!</p> -->

    <div class="max-w-2xl mx-auto shadow-xl rounded-lg text-gray-900 border-2 border-gray-300 bg-white">
      <div class="p-4 md:p-8">
        <h2 class="text-2xl font-semibold text-gray-800 mb-4">{{ modalTitle }}</h2>
  
        <form [formGroup]="showForm" (ngSubmit)="onSubmit()">
          <ng-container class="flex flex-col">

            <div class="mb-3 relative">
              <label for="screenName" class="block mb-2 text-sm font-semibold text-gray-700">Movie:</label>
              <input type="text" formControlName="movie"
                    (dblclick)="changeMovie()" (input)="onInputChange($event)" (blur)="onInputBlur()" 
                    (focus)="onInputFocus()" placeholder="Search Movie Name"
                    class=" block w-full bg-white border border-gray-300 rounded-md shadow-sm pl-3 pr-10 py-2 focus:outline-none focus:ring-2 focus:ring-blue-500 focus:border-blue-500 sm:text-sm"
              >
              <app-movie-select-validation [movieId]="selectedMovieId" [isSubmitted]="isSubmitted"></app-movie-select-validation>
              <div *ngIf="showMovieOptions" class="absolute top-16 z-40 bg-white shadow-lg max-h-60 rounded-md py-1 overflow-auto mt-1 w-full">
                <div *ngIf="movies.length === 0" class="bg-gray-400 px-4 py-2 text-sm">Movie Not Available</div>
                <div *ngFor="let movie of movies" (click)="selectMovie(movie)"
                     class="cursor-pointer hover:bg-gray-200 px-4 py-2 text-sm">
                  {{ movie.title }} {{ movie.release_date | date: 'yyyy' }}
                </div>
              </div>
            </div>
          
            <div class="mb-3">
              <label for="screen" class="block mb-2 text-sm font-semibold text-gray-700">Screen:</label>
              <select id="screen" formControlName="screenId" 
              class="block bg-gray-50 border rounded-md shadow-sm focus:outline-none focus:ring-blue-500 focus:border-blue-500 w-full p-2.5 text-gray-700 sm:text-sm" 
              placeholder="Select a screen"
              (change)="onScreenChange($event)"
              >
                <option value="" disabled selected>Select a screen</option>
                <option  *ngFor="let screen of screens" [value]="screen._id">{{ screen.name }}</option>
              </select>
              <app-screen-select-validation [screenControl]="showForm.get('screenId')" [isSubmitted]="isSubmitted"></app-screen-select-validation>
            </div>

            <div class="mb-3">
              <label for="date" class="block mb-2 text-sm font-semibold text-gray-700">Date:</label>
              <input id="date" formControlName="date" type="date" class="block bg-gray-50 border rounded-md shadow-sm focus:outline-none focus:ring-blue-500 focus:border-blue-500 w-full p-2.5 text-gray-700 sm:text-sm" placeholder="Select a date" />
              <app-show-date-validation [showDateControl]="showForm.get('date')" [isSubmitted]="isSubmitted"></app-show-date-validation>
            </div>
            
            <div class="mb-3 flex flex-col sm:flex-row">
              <div class="flex-grow mb-2 sm:mr-2">
                <label for="startTime" class="block mb-2 text-sm font-semibold text-gray-700">Starting Time:</label>
                <input id="startTime" formControlName="startTime" type="time" class="block w-full bg-gray-50 border rounded-md shadow-sm focus:outline-none focus:ring-blue-500 focus:border-blue-500 p-2.5 text-gray-700 sm:text-sm" placeholder="Select start time" (change)="onStartTimeChange($event)" />
                <app-start-time-validation [startTimeControl]="showForm.get('startTime')" [isSubmitted]="isSubmitted"></app-start-time-validation>
              </div>
              <div class="flex-grow mb-2 sm:ml-2">
                <span class="block mb-2 text-sm font-bold text-gray-700">Ending Time:</span>
                <span class="bg-gray-100 rounded-md p-2.5 text-gray-700 sm:text-sm">{{ endingTime }}</span>
              </div>
            </div>
            
          
            <div *ngFor="let priceControl of priceControls">
              <div class="mb-3">
                <label [for]="priceControl.controlName" class="block mb-2 text-sm font-semibold text-gray-700">{{ priceControl.label }} Price:</label>
                <input [id]="priceControl.controlName" [formControlName]="priceControl.controlName" type="text" class="block w-full bg-gray-50 border rounded-md shadow-sm focus:outline-none focus:ring-blue-500 focus:border-blue-500 p-2.5 text-gray-700 sm:text-sm" placeholder="Enter Ticket Price"/>
                <app-def-price-validation [priceControl]="showForm.get(priceControl.controlName)" [isSubmitted]="isSubmitted"></app-def-price-validation>
              </div>
            </div>
            
          </ng-container>
          
  
          <hr class="border-t mx-0 mt-2">
  
          <div class="flex justify-around items-center p-4 space-x-4">
            <button (click)="onCancel()" class="w-full md:w-1/3 block rounded-full bg-amber-400 hover:bg-amber-600 hover:shadow-lg font-semibold text-gray-800 px-6 py-2">Cancel</button>
            <button type="submit" class="w-full md:w-1/3 block rounded-full bg-amber-400 hover:bg-amber-600 hover:shadow-lg font-semibold text-gray-800 px-6 py-2">{{ submitBtn }}</button>
          </div>
        </form>
      </div>
    </div>