
<app-admin-nav class="fixed z-30 top-0"></app-admin-nav>
<app-admin-movies-search class="fixed top-20 z-30 bg-white w-full" [searchRoute]="'cinesnap'" (search)="searchCineSnapMovies($event)"></app-admin-movies-search>


<div class="flex mt-40">
  <!-- Filter Sidebar -->
  <!-- <div class="filter-sidebar h-screen overflow-y-auto"> -->
    <app-filter class="h-screen" (filterApplied)="filterMovies($event)"></app-filter>
  <!-- </div> -->

  <!-- Movies Content -->
  <div class="movies-container overflow-y-scroll h-screen flex-1">
    <!-- Your existing content here -->
    <div class="text-lg font-bold mb-3">
      <h3>Movies</h3>
    </div>

    <div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4 xl:grid-cols-5 gap-4">
      <ng-container *ngFor="let movie of filteredMovies">
        <!-- For larger screens, use the adjusted design -->
        <div class="relative group bg-amber-800 overflow-hidden">
          <img src="https://image.tmdb.org/t/p/original/{{ movie.poster_path }}" alt="Movie Poster"
            class="w-full h-72 object-cover" />
  
          <!-- Delete button -->
            <button *ngIf="!movie.isDeleted" (click)="deleteMovie(movie._id, movie.isDeleted ?  'Add' : 'Delete')" class="absolute top-2 right-2 flex items-center justify-center bg-red-500 text-white p-1 rounded-full">
              <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
                <path stroke-linecap="round" stroke-linejoin="round" d="M14.74 9l-.346 9m-4.788 0L9.26 9m9.968-3.21c.342.052.682.107 1.022.166m-1.022-.165L18.16 19.673a2.25 2.25 0 01-2.244 2.077H8.084a2.25 2.25 0 01-2.244-2.077L4.772 5.79m14.456 0a48.108 48.108 0 00-3.478-.397m-12 .562c.34-.059.68-.114 1.022-.165m0 0a48.11 48.11 0 013.478-.397m7.5 0v-.916c0-1.18-.91-2.164-2.09-2.201a51.964 51.964 0 00-3.32 0c-1.18.037-2.09 1.022-2.09 2.201v.916m7.5 0a48.667 48.667 0 00-7.5 0" />
              </svg>            
            </button>
            <button *ngIf="movie.isDeleted" (click)="deleteMovie(movie._id, movie.isDeleted ?  'Add' : 'Delete')" class="absolute top-2 right-2 flex items-center justify-center bg-green-500 text-white p-1 rounded-full">
              Add            
            </button>
  
          <!-- Movie details -->
          <div class="bg-gray-900 text-white text-center p-2">
            <p class="text-base font-medium line-clamp-1">{{ movie.title }}</p>
            <p class="text-sm">{{ movie.release_date | date: 'yyyy' }}</p>
          </div>
        </div>
      </ng-container>
    </div>
  </div>
</div>








<!-- <div class="flex">
  <app-filter class="fixed"></app-filter>
  <div class="container mx-auto p-4">
    <div class="text-lg font-bold mb-3">
      <h3>Movies</h3>
    </div>
  
    <div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4 xl:grid-cols-5 gap-4">

    </div>
  </div>
</div> -->
  
